/**
 * Created by Samuel Gratzl on 16.12.2015
 */

@import '../targid2/styles/vars';

div.view .dummy-histogram {
  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }
}

div.view .survival-stats {
  div {
    display: inline-block;
    span {
      display: block;
    }
  }
  path {
    fill: none;
    stroke: black;

    &:hover {
      stroke: orange;
    }

    &.having {
      stroke: darkred;
    }

    &:not(.having) {

    }
  }

  .axis path, .axis line {
    &:hover {
      stroke: #000;
    }
  }

  .label {
    fill: $core_colour_text;

    &.having {
      fill: darkred;
    }
  }

}

div.view .onco-print {
  .cell {
    stroke-width: 1;
  }
}
